* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #97a4aa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

header, 
footer {
    background-color: #005480;
    color: #97a4aa;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    padding: 2rem;
}

header h1 {
    text-shadow: 2px 2px 2px #fff;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    background-image: url("/assets/images/sky_mix.avif");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    min-width: 15rem;
    max-width: 25rem;
    height: 30rem;

    padding: 1.5rem 1rem;
    margin: 0 1rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .input-container {
    width: 13rem;
    display: flex;
    align-items: center;
    height: 2rem;
    padding: 0.8rem 0.5rem;
    margin: 0.2rem 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
}

input[type="search"] {
    background-color: white;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1rem;
}

.form .input-container:hover {
    outline: inset;
    outline-color: #6cb8e4;
}

.form .button {
    background-color: gray;
    color: white;
    font-size: 1rem;
    height: 2rem;
    padding: 0.4rem 0.8rem;
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.form .button:hover {
    background-color: rgb(179, 176, 176);
}

.display {
    width: 100%;
    height: 22rem;
    padding: 1rem;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.weather-info {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
}

.info-1 {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #052d42;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.info-2, .info-3 {
    background-color: #005480;
    color: #97a4aa;
    text-shadow: 1px 1px 1px #6cb8e4;
}

.info {
    padding: 1rem;
    border-radius: 5px;
}

#city-name {
    font-size: 1.5rem;
    color: #97a4aa;
}

#temp {
    font-size: 2rem;
    color: #97a4aa;
}

#description {
    color: #97a4aa;
}

.display-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.display-error h1 {
    font-size: 4rem;
    color: #97a4aa;
    text-shadow: 2px 3px 4px #fff;
}

.display-error p {
    font-size: 1.5rem;
    color: #97a4aa;
    text-shadow: 1px 2px 2px #005480;
    text-align: center;
}